nav {
    /* margin-inline: 2em; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-nav-color);
    z-index: 2;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}

nav .sidebar-icon-container,
.sidebar-close-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 12%;
    /* padding: 2px; */
    /* transition: border-color 0.25s; */
}

nav .sidebar-icon-container:hover,
.sidebar-close-container:hover {
    /* border-color: var(--secondary-color); */
    background-color: var(--bg-opacity-color)
}

.sidebar-icon,
.sidebar-close-icon {
    margin: 0.4em;
    /* color: var(--text-color) */
}

.home-icon-container,
.greetings-container,
.shopping-cart-container {
    display: flex;
    align-items: center;
    border-radius: 12%;
    /* border: 1px solid var(--text-color); */
    /* padding: .2em; */
}

.home-icon-container:hover,
.shopping-cart-container:hover {
    border-bottom: 1px solid var(--text-color);
}

.home-icon,
.shopping-cart-icon {
    margin: 0.4em;
    color: var(--text-color);
}


.shopping-cart-icon {
    margin-left: 0px;
}

.greetings {
    font-weight: 400;
    margin-bottom: 0.2em;
}

.greetings-container:hover {
    /* border-radius: 12%; */
    border-bottom: 1px solid var(--text-color);
}

nav .logo {
    height: 4.5em;
    will-change: filter;
    transition: filter 300ms;
}

nav .logo:hover {
    filter: drop-shadow(0 0 2em var(--primary-color));
}

nav .dark-mode-toggle {
    border-radius: 50%;
    border: 1px solid transparent;
    /* margin: 0.1em; */
    /* padding: 0.2em 0.4em; */
    height: 1.9em;
    aspect-ratio: 1;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--color-white);
    cursor: pointer;
    transition: outline 300ms;
    /* transition: border-color 0.25s; */
    /* justify-self: center; */
}

nav .dark-mode-toggle:hover {
    /* border-color: var(--text-color); */
    /* outline: 1px solid var(--secondary-color); */
    outline: 1px auto var(--text-color);
}

nav .search-container {
    position: relative;
}

nav .search-input {
    padding-right: 30px;
    /* Adjust for icon spacing */
    border: 1px solid var(--color-gray80);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    width: 200px;
    /* Adjust width as needed */
}

.search-input:focus,
.search-input:focus-visible {
    outline: 1px solid var(--secondary-color);
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust for icon position */
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.dropdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-img-container {
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.user-img {
    height: 1.9em;
    aspect-ratio: 1;
    /* margin: 0.1em; */
    border-radius: 50%;
    border: 1px solid transparent;
    transition: outline 300ms;

}


.user-img-container:hover {
    outline: 1px auto var(--text-color);
}

.dropdown-icon-container {
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.dropdown-icon {
    width: 1.9em;
    height: 1.9em;

    border-radius: 50%;
    /* margin: 0.1em; */
    /* padding: .2em .4em; */
    border: 1px solid transparent;
    transition: background-color 300ms;
}

.dropdown-icon-container:hover {
    /* filter: drop-shadow(0 0 2em var(--primary-color)); */
    /* filter: drop-shadow(16px 16px 20px blue); */
    background-color: var(--bg-opacity-color);
    outline: 1px auto var(--text-color);

}


/* sidebar style */


.sidebar-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 25%;
    background-color: var(--bg-sidebar);
    padding: 2em 2em;
}

.display-hidden {
    display: none;
}

.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-content {
    margin-top: 2em;
}

.sidebar-content ul {
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.sidebar-content ul a {
    text-decoration: none;
}

.sidebar-content .home-icon-container {
    display: flex;
    gap: 20px;
    color: var(--text-color);
}

.sidebar-content .home-icon-container:hover {
    border: none;
}

/* .sidebar-content .home-icon:hover {
    margin: .4em;
    border: 1px solid var(--text-color);
} */