/* Carousel container */
.carousel-container {
    /* background-color: var(--bg-carousel); */
    /* background-color: #000; */
    padding-block: 4em;
}

.carousel {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    /* height: 350px; */
    /* Adjust as needed */
    margin: 0 auto;
    /* Center the carousel */
    overflow: hidden;

}

/* Left side text */
.text-section {
    flex: 1;
    padding: 20px;
    /* Add styles for your text rows here */
}

.carousel-subtitle {
    font-weight: 900;
}

.carousel-title {
    color: var(--text-color-primary);
    /* color: #ffffff; */
    margin-bottom: 0.2em;
}

.carousel-tags {
    margin-right: 1em;
    font-size: small;
    color: var(--text-color-secondary);
    /* color: rgba(255, 255, 255, 0.644); */
}

.carousel-description {
    margin-top: 2em;
    font-size: medium;
    font-weight: 300;
    color: var(--text-color-primary);
}

.text-section button {
    margin: 2em 1em 1em 0;
    padding: 1em 2em;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    /* background: rgb(41, 41, 41); */
}

.carousel-btn {
    background: var(--primary-color);
}

.text-section button:hover {
    background: var(--secondary-color);
    color: black;
}

.carousel-login-btn {
    background: rgb(41, 41, 41);
}

/* Right side images */
.image-section {
    /* flex: 1; */
    display: grid;
    place-items: center;
    position: relative;
    height: 350px;
}

/* .image-section::before,
.image-section::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

} */

/* .image-section::before {
    background: radial-gradient(circle at center, transparent 0, rgb(255, 255, 255) 100%); 
    background: linear-gradient(to right, transparent, #000);
    z-index: 1;
} */

/* .image-section::after {
    background: linear-gradient(to bottom, transparent, #000);
    right: 0;
    z-index: 1;
} */



/* Image styles */
.image-section img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    max-height: min-content;
    max-height: 350px;
    /* display: block; */
    transition: transform 0.5s ease;

    /* Example transition effect */
}

/* Buttons to change images */
.image-section button {
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(-100%);
    background: rgb(41, 41, 41);
    border: 1px solid transparent;
    border-radius: 12%;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    color: white;
}

.image-section button:hover {
    background: var(--primary-color);
}

.image-section .img-gradient {
    /* position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 1); */
    /* background: linear-gradient(0deg, #000, 20%, transparent), linear-gradient(90deg, #000, 20%, transparent), linear-gradient(-90deg, #000, 20%, transparent), linear-gradient(180deg, #000, 20%, transparent); */
    /* background: linear-gradient(45deg, var(--carousel-img-gradient-1) 0%, var(--carousel-img-gradient-2) 50%, var(--carousel-img-gradient-1) 100%), linear-gradient(-45deg, var(--carousel-img-gradient-1) 0%, var(--carousel-img-gradient-2) 50%, var(--carousel-img-gradient-1) 100%), linear-gradient(0deg, var(--carousel-img-gradient-1) 0%, var(--carousel-img-gradient-2) 50%, var(--carousel-img-gradient-1) 100%), linear-gradient(90deg, var(--carousel-img-gradient-1) 0%, var(--carousel-img-gradient-2) 50%, var(--carousel-img-gradient-1) 100%); */

    /* background: radial-gradient(circle, var(--carousel-img-gradient-2) 0%, rgba(0, 0, 0, 1) 81%); */
}

/* Adjust button position */
/* .image-section button:nth-child(1) {

} */
.image-section button:nth-child(2) {
    bottom: 13%;
}